<h1>Add New Contact</h1>

<% if @contact.errors.present? %>
<p>
<%= @contact.errors.messages %>
</p>
<% end %>

<%= form_for @contact do |f| %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :address %>
<%= f.text_area :address %>
</div>
<div>
<%= f.label :email %>
<%= f.text_area :email %>
</div>
<div>
<%= f.label :phone %>
<%= f.text_area :phone %>
</div>
<div>
<%= f.submit "Create Contact" %>
</div>
<% end %>
</p>
