<h1>Contact</h1>

<ul>
    <li>Name <%= @contact.name %>
    <li>Email <%= @contact.email %>
    <li>Address <%= @contact.address %>
    <li>Phone <%= @contact.phone %>
    <li>Favorite? <%= @contact.favorite %>
    <h4><br></h4>
</ul>

<a href="/contacts/">Go back</a>