<h1>Create New Project</h1>

<% if @project.errors.present? %>
<p>
<%= @project.errors.messages %>
</p>
<% end %>

<%= form_for @project do |f| %>
<div>
<%= f.label :title %><br>
<%= f.text_field :title %>
</div>
<div>
<%= f.label :description %><br>
<%= f.text_area :description %>
</div>
<div>
<%= f.submit "Create Project" %>
</div>
<% end %>
</p>
