<!DOCTYPE html>
<html>
	<head>
		<title>Lisa's Bookstore</title>
	</head>
	<body>
		<h1>Books In Stock</h1>
		<% @products.reverse.each do |product| %>
		<h3>Title: <a href="http://localhost:3000/products/<%=product.id%>"><%= product.product %></a></h3>
		<h4>Description: <%= product.description %></h4>
		<h4>Price $<%= product.price %></h4>
		<h4>Customer Ranking: <%= product.ranking %></h4>
		<% end %>
		<%= form_tag(products_path, :method => "get") do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search" %>
		<% end %>
		<a href="/products/new">Add New Book</a>
		<br>
		<a href="/products">View All Books</a>
	</body>
</html>